Repository hmcts/div-health-monitor, pull requests merged in 2019-10, with the labels that each got.

#12 Enable AKS staging deployment
  Jenkinsfile_CNP
  charts/div-hm/values.aat.template.yaml
Labels: ns:div-hm-pr-12

#13 DIV-5762 aks migration
  Jenkinsfile_CNP
  app.js
  charts/div-hm/Chart.yaml
  charts/div-hm/requirements.yaml
  charts/div-hm/values.yaml
  infrastructure/main.tf
  package.json
  yarn.lock
Labels: ns:div-hm-pr-13

#14 DIV-5762 - added /health/liveness endpoint required for AKS
  app.js
Labels: ns:div-hm-pr-14

#15 Try alpine
  Dockerfile
Labels: ns:div-hm-pr-15
